let mapleader= " "

source ~/.vimrc
source ~/ideavim/functions.vim
source ~/ideavim/plugins.vim



" Plugin settings
let g:argtextobj_pairs="[:],(:),<:>"
set notimeout
set ideajoin
set ideastrictmode

set scrolloff=10
set showmode
set showcmd
set visualbell
set clipboard+=unnamed

" Search Improvements
set ignorecase
set smartcase
set incsearch
set hlsearch

" Laravel idea
nnoremap <leader>li :action LaravelIdea<CR>
nnoremap <leader>lg :call ghc()<CR>

" effective
nnoremap <Leader>sw :action SurroundWith<CR>
nnoremap <Leader>oi :action OptimizeImports<CR>
nnoremap <Leader>tz :action ToggleZenMode<CR> 
nnoremap <leader>ns :action NewScratchFile<CR>
nnoremap <Leader>ic :action InspectCode<CR>
nnoremap <CR> a<CR><Esc>k$
nnoremap U <C-R>
nnoremap dam :action MethodUp<CR>f{vi{:g/^$/d<CR>dap
nnoremap <leader>cr :action CollapseRegion<CR>
nnoremap <leader>er :action ExpandRegion<CR>
nnoremap <leader>ff :action SelectInProjectView<CR>
nnoremap <leader>sf ^v$j%$
nnoremap <leader>sc ^v$%$

" Window
nnoremap <Leader>ww <C-W>w
nnoremap <Leader>wd <C-W>c
nnoremap <Leader>aj <C-W>j
nnoremap <Leader>ak <C-W>k
nnoremap <Leader>ah <C-W>h
nnoremap <Leader>al <C-W>l
nnoremap <Leader>ws <C-W>s
nnoremap <Leader>wv <C-W>v
nnoremap <Leader>ot :action ActivateTerminalToolWindow<CR>
nnoremap <Leader>clr :action CloseAllToTheRight<CR>
nnoremap <Leader>clu :action CloseAllUnmodifiedEditors<CR>
noremap <leader>sr :reg<CR>
nnoremap <leader>sm :marks<CR>
nnoremap <Leader>ov :vs ~/.ideavimrc
nnoremap <Leader>oe :vs ~/Projects/Evaluagent/Evaluagent/.env<CR>
nnoremap <Leader>oc :! cursor %<CR>

" Fix
nnoremap <Leader>fd :action FixDocComment<CR>
nnoremap <Leader>rn :action RenameElement<CR>
nnoremap <Leader>mf :action RenameFile<CR>
nnoremap <Leader>fc :action ReformatCode<CR>
vnoremap <Leader>em :action ExtractMethod<CR>
vnoremap <Leader>ei :action ExtractInterface<CR>
nnoremap <leader>ph :action PasteMultiple <CR>
nnoremap V V$

" Git
nnoremap <Leader>gp :action Vcs.QuickListPopupAction<CR>
nnoremap <Leader>gb :action Git.Branches<CR>
nnoremap <leader>gh :action Git.ShowTabbedFileHistory<CR>
nnoremap <leader>rl :action Vcs.RollbackChangedLines<CR> 

" Generate
nnoremap <Leader>im :action ImplementMethods<CR>
nnoremap <Leader>om :action OverrideMethods<CR>
nnoremap <Leader>nc :action NewClass<CR>

" Debug
nnoremap <leader>tb :action ToggleLineBreakpoint<CR>
nnoremap <Leader>sb :action ViewBreakpoints<CR>
nnoremap <leader>0 :action PhpListenDebugAction<CR>
nnoremap <leader>ld :action PhpListenDebugAction<CR>
nnoremap <leader>ee :action EvaluateExpression <CR>
nnoremap <leader>so :action StepOver <CR>
nnoremap <leader>si :action StepInto <CR>
nnoremap <leader>ss :action Stop <CR>

" Start and stop
nnoremap <Leader>d :action Debug<CR>
nnoremap <Leader>rc :action Stop<CR>
nnoremap <Leader>rr :action Rerun<CR>
nnoremap <leader>ra :action RunAnything<CR>
nnoremap <leader>ec :action editRunConfigurations<CR>
nnoremap <Leader>rm :action RunClass<CR>
nnoremap <Leader>cd :action ChooseDebugConfiguration<CR>
nnoremap <Leader>cr :action ChooseRunConfiguration<CR>

" Show
nnoremap <Leader>sd :action ShowUmlDiagram<CR>
nnoremap <Leader>th :action TypeHierarchy<CR>
nnoremap <Leader>fu :action FindUsages<CR>
nnoremap <Leader>su :action ShowUsages<CR>
nnoremap <Leader>mh :action MethodHierarchy<CR>
nnoremap <Leader>sp :action ShowFilePath<CR>
nnoremap <Leader>se :action ShowErrorDescription<CR>
nnoremap <Leader>rf :action RecentFiles<CR>
nnoremap <Leader>jd :action QuickJavaDoc<CR>
nnoremap <leader>aa :action Annotate<CR>
nnoremap <leader>sn :action ShowNavBar<CR>
nnoremap <leader>ti :action EditorIncreaseFontSize<CR>
nnoremap <leader>td :action EditorDecreaseFontSize<CR>
nnoremap <leader>tr :action EditorResetFontSize<CR>

" popup
nnoremap <Leader>oo :action FileStructurePopup<CR>
nnoremap <leader>pg :action Generate<CR>
nnoremap <Leader>pm :action ShowPopupMenu<CR>

" Search
nnoremap <Leader>ga :action GotoAction<CR>
nnoremap <Leader>gc :action GotoClass<CR>
"nnoremap <Leader>gf :action GotoFile<CR>
nnoremap <Leader>gs :action GotoSymbol<CR>

" Jump
nnoremap ge :action GotoNextError<CR>
nnoremap ne :action GotoNextError<CR>
nnoremap nE :action GotoPreviousError<CR>
nnoremap gi :action GotoImplementation<CR>
nnoremap gs :action GotoSuperMethod<CR>
nnoremap ]] :action MethodDown<CR>
nnoremap [[ :action MethodUp<CR>
nnoremap nt :NERDTree <CR>
map <leader><leader> :action fastTravel.jumper<CR>

" Command starters
nnoremap <leader>g- :!git
nnoremap <leader>m- :!make
nnoremap <leader>l- :call ghc()
nnoremap<leader>aws :!sh /Users/shaun/Projects/evaluagent/local-dev/aws-access.sh -f  /Users/shaun/Projects/evaluagent/evaluagent/.env

" Tab operation
nnoremap gn gt
noremap gp gT

" Coilot 
nnoremap <leader>cc :action copilot.requestCompletions<CR>

" Which key:
"source ~/ideavim/whichkey.vim
